@import "tailwindcss";

/* base */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #0B1220;
  color: white;
  overflow-x: hidden;
  @apply antialiased;
}

/* selection */
::selection {
  background: #dc2626;
  color: white;
}

section {
  scroll-margin-top: 120px;
}

/* container helper (если используешь не Tailwind container) */
.container {
  width: min(1280px, calc(100% - 40px));
  margin: 0 auto;
}